:root{
    --button-background: rgb(72, 3, 132);
    --button-text: white;
    background-color: black;
    color:white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header p{
    font-size: 20px;
}

header a{
    text-decoration: none;
    font-size: 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


