:root{
    --button-background: rgb(72, 3, 132);
    --button-text: white;
    background-color: rgb(96, 93, 93);
    color:rgb(197, 102, 218);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header p{
    font-size: 20px;
}

header a , a:link, a:visited, a:active{
    text-decoration: none;
    font-size: 20px;
    color: rgb(197, 102, 218);;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question button {
    min-width: 12%;
}


